{% extends 'base.html' %}
{% load cart %}
{% load custom_filters %}

{% block content %}

<div class="container" style="background-color: whitesmoke;">


    <h1>Cart</h1>

<div class="border rounded p-4 m-4">
    <p class="display-4 pl-4 ml-4">Your cart</p>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>srno</th>
                <th>Image</th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><img src="{{product.image.url}}" class="rounded-circle" style="height:100px"></td>
                <td>{{product.name}}</td>
                <td>{{product.price|currency}}</td>
                <td>{{product|cart_item_count:request.session.cart}}</td>
                <td>{{product|price_total:request.session.cart|currency}}</td>

            </tr>
            {% endfor %}
    
        </tbody>

        <tfoot>
            <tr>
                <th colspan="3"></th>
                <th>Total</th>
                <th>{{product.price|currency}}{{products|total:request.session.cart}}</th>
            </tr>
        </tfoot>
    </table>

    <div class="m-4 p-4">
        <a href="#" class="btn btn-outline-info border rounded col-lg-3 float-right font-weight-bold"data-toggle="modal" data-target="#exampleModal">Checkout</a>
    </div>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Checkout</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {% if request.session.customer%}
                <form action="/checkout" method="post">   
                    {% csrf_token %}         
                    <div class="form-group">
                        <label for="">Address</label>
                        <input type="text" name="address" id="" class="form-control" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="">Phone</label>
                        <input type="text" name="phone" id="" class="form-control" placeholder="">
                    </div>

                    <input type="submit" class="btn btn-outline-info col-lg-6 float-right" value="Submit" >
                </form>
                {% else %}
                <h4 text-center>You must be logged in</h4>

                {% endif %}

                        
            
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}